*{
  margin:0;

}
.app{
  background-color: #fafafa;
}
.app__header{
  /* always maintain the aspect ratio */
  background-color: white;
  /* padding adds the space on the borders while margin adds it around the image (bahar se) */
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain; 

}
